
  
.section-1 {
    background: white;
    bottom:0%;
}
.group {
  position: relative;
}
.box {
    width:100%;
    color: black;
    text-align: center;
    margin-top: 300%;
    bottom:0px;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.landingtext {
  position: fixed;
  top: 48%;
  left: 50%;
  max-width: 100%;
  transform: translate(-50%,-50%);
  z-index: -5;
  text-align: center;
}
.mouse {
  position: fixed;
  top: 90%;
  left: 50%;
  max-width: 100%;
  transform: translate(-50%,-50%);
  z-index: -5;
}
#text {
    top: 50%;
    left: 50%;
    max-width: 100%;
    transform: translate(-50%,-50%);
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    color: black;

}
#project{
    z-index: 20;
}
