@font-face {
  font-family: 'Titillium Web', sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap);
}
.vertical-center{
    display:flex;
    align-items: center;
}

.horizontal-center{
    text-align: center;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}


table, th, td {
  border-collapse: collapse;
}
th, td {
  text-align: left;
  vertical-align:baseline;
}
th{
  vertical-align:text-top;
}

/*navbar*/
nav {
    z-index: 3000;
}
.navbar .nav-item .nav-link {
    font-weight: 400;
    color: #636363;
    transition: all 0.3s ease 0s;
}
.nav-item {
  justify-content: flex-end;float: right;
}
.navbar .nav-item .nav-link:hover{
    color: rgb(58, 58, 58);
}
.nav-link:current {
    color: #000000 !important;
  }
.navbar-brand img {
    width: 90px;
    border: none;
} 
.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
}

.navbar ul{
    justify-content: flex-end; 
    font-weight: 600;
    color: white;
}

.navbar button:hover{
    background:  #0A2338,10%;
	transition: all 0.3s ease 0s;
    border: none;
}
.navbar button {
    max-width: 40%;
    border: none;
}
* {
	box-sizing: border-box;
}
html {
    height:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
      margin:0;
      padding:0;
  }
  body {
    height: 1000px;
    box-sizing: border-box;
    width:100%;
      margin:0;
      padding:0;
  }

  @media (min-width: 1320px){
    * {
      box-sizing: border-box;
    }
  }
  /* @media (max-width: 1320px) and (min-width: 991px){
    * {
      box-sizing:content-box;
    }
  } */
  @media (max-width: 991px){
    * {
      box-sizing: border-box;
    }
  }
  
  @media (min-width: 1220px)  {
    .text20{
      width: 45%;
    }
    .images2 {
      max-width: 50%;
    }
    .images1 {
      max-width: 75%;
    }
    .problemstatement {
      padding: 1em;
    }
    .video1 {
      position: fixed;
      left: 50%;
      top: -5%;
      min-width: 100%;
      min-height: 105%;
      width: auto;
      height: auto;
      z-index: -150;
      background-size: cover;
      transform: translateX(-50%);
    }
    .box {
      width:100%;
      color: black;
      text-align: center;
      margin-top: 400%;
      bottom:0px;
  }
    th{
      width: 320px;
    }
      .c2 {
        padding-top:2em;
      }
      .pi {
        max-width: 70%;
      }
      .video {
        position: fixed;
        left: 50%;
        top: -5%;
        min-width: 100%;
        min-height: 105%;
        width: auto;
        height: auto;
        z-index: -100;
        background-size: cover;
        transform: translateX(-50%);
      }
  
  h1 {
    font-size:8.6vmin;
    font-weight: 600;
    color: white;
    font-family: 'Titillium Web', sans-serif;
  }
  
  h2 {
    font-size:4.5vmin;
    font-weight: 400;
    color: white;
    font-family: 'Titillium Web', sans-serif;
  }
  /*SUBTITLES*/
  h3 {
    font-size:2.5vmin;
    font-weight: 500;
    font-family: 'Titillium Web', sans-serif;
    line-height: 5vmin;
  }
  /*text*/
  h4 {
    font-size:1.8vmin;
    font-weight: 400;
    line-height: 3vmin;
    font-family: 'Titillium Web', sans-serif;
  }
  
  h5 {
    font-size:2em;
    font-weight: 600;
    line-height: 1em;
    font-family: 'Titillium Web', sans-serif;
  }
  
  
  }
/*DESKTOP*/
@media (min-width: 1024px) {
  .text20{
    width: 45%;
  }
  .images2 {
    max-width: 50%;
  }
  .images1 {
    max-width: 75%;
  }
  .problemstatement {
    padding: 3em;
  }
  .video1 {
    position: fixed;
    left: 50%;
    top: -5%;
    min-width: 100%;
    min-height: 105%;
    width: auto;
    height: auto;
    z-index: -150;
    background-size: cover;
    transform: translateX(-50%);
  }
  .box {
    width:100%;
    color: black;
    text-align: center;
    margin-top: 300%;
    bottom:0px;
}
  th{
    width: 320px;
  }
    .c2 {
      padding-top:2em;
    }
    .pi {
      max-width: 70%;
    }
    .video {
      position: fixed;
      left: 50%;
      top: -5%;
      min-width: 100%;
      min-height: 105%;
      width: auto;
      height: auto;
      z-index: -100;
      background-size: cover;
      transform: translateX(-50%);
    }

h1 {
  font-size:8.6vmin;
  font-weight: 600;
  color: white;
  font-family: 'Titillium Web', sans-serif;
}

h2 {
  font-size:4.5vmin;
  font-weight: 400;
  color: white;
  font-family: 'Titillium Web', sans-serif;
}
/*SUBTITLES*/
h3 {
  font-size:2.5vmin;
  font-weight: 500;
  font-family: 'Titillium Web', sans-serif;
  line-height: 5vmin;
}
/*text*/
h4 {
  font-size:1.8vmin;
  font-weight: 400;
  line-height: 3vmin;
  font-family: 'Titillium Web', sans-serif;
}

h5 {
  font-size:2em;
  font-weight: 600;
  line-height: 1em;
  font-family: 'Titillium Web', sans-serif;
}


}

/*DESKTOP MEDIUM*/
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      width:50%;
    }
    .box {
      width:100%;
      color: black;
      text-align: center;
      margin-top: 200%;
      bottom:0px;
  }

    .text20{
      width: 55%;
    }

    .images2 {
      max-width: 100%;
    }
.images1 {
    max-width: 100%;
    width: auto;
  }
  .video1 {
    position: fixed;
    left: 50%;
    top: -5%;
    min-width: 100%;
    min-height: 105%;
    width: auto;
    height: auto;
    z-index: -150;
    background-size: cover;
    transform: translateX(-50%);
  }
  th{
    width: 200px;
  }
  .pi {
    max-width: 100%;
    width: auto;
  }
  .video {
    position: fixed;
    left: 50%;
    top: -5%;
    min-width: 100%;
    min-height: 105%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    transform: translateX(-50%);
    filter: brightness(100%);
  }
  .aboutme {
    margin-bottom: 10%;
  }
  .c2 {
    padding-top:.2em;
  }

h1 {
  font-size:8.4vmin;
  font-weight: 600;
  color: white;
  font-family: 'Titillium Web', sans-serif;
}

h2 {
  font-size:4.5vmin;
  font-weight: 400;
  color: white;
  font-family: 'Titillium Web', sans-serif;
}
/*subtitles ALL CAPS*/
h3 {
  font-size:2vmin;
  font-weight: 500;
  font-family: 'Titillium Web', sans-serif;
  line-height: 3vmin;
}
/*text*/
h4 {
  font-size:1.5vmin;
  font-weight: 400;
  line-height: 3vmin;
  font-family: 'Titillium Web', sans-serif;
}

h5 {
  font-size:1.4em;
  font-weight: 600;
  line-height: 1em;
  font-family: 'Titillium Web', sans-serif;
}
}
/*DESKTOP SMALL*/
@media only screen 
and (max-width : 768px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    width:50%;
  }
  .box {
    width:100%;
    color: black;
    text-align: center;
    margin-top: 300%;
    bottom:0px;
}
  .text20{
    width: 75%;
  }
  .images2 {
    max-width: 100%;
  }
  .images1 {
    max-width: 100%;
    width: auto;
  }
  .pi {
    max-width: 100%;
    width: auto;
  }
  .video1 {
    position: fixed;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -150;
    background-size: cover;
    transform: translateX(-50%);
  }
  .video {
    position: fixed;
    left: 50%;
    top: 0%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    transform: translateX(-50%);
  }
  .nav-link {
    padding-right: 2em;
  }
  .aboutme {
    margin-bottom: 10%;
  }
  .c2 {
    padding-top:.2em;
  }

h1 {
  font-size:8.4vmin;
  font-weight: 600;
  font-family: 'Titillium Web', sans-serif;
  color: white;
}

h2 {
  font-size:4.5vmin;
  font-weight: 400;
  color: white;
  font-family: 'Titillium Web', sans-serif;
}
/*Subtitiles*/
h3 {
  font-size:1.1em;
  font-weight: 500;
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.4em;
}
/*text*/
h4 {
  font-size:1em;
  font-weight: 400;
  line-height: 2em;
  font-family: 'Titillium Web', sans-serif;
}

h5 {
  font-size:1.16em;
  font-weight: 600;
  line-height: 1em;
  font-family: 'Titillium Web', sans-serif;
}
th{
  width: 150px;
}
.ps1 {
  padding-top: 2em;
  font-size: 0.8em;
  padding-right: 1em;
}
.ps2 {
  padding-top: 1em;
  margin-left: 2em;
  font-size: 0.8em;
}
}

/*MOBILE*/
@media only screen 
and (max-width : 400px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    width:50%;
  }

  .box {
    width:100%;
    color: black;
    text-align: center;
    margin-top: 300%;
    bottom:0px;
}

  .images1 {
    max-width: 100%;
    width: auto;
  }
  .images2 {
    max-width: 100%;
  }
  .pi {
    max-width: 100%;
    width: auto;
  }
  .video1 {
    position: fixed;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -150;
    background-size: cover;
    transform: translateX(-50%);
  }
  .video {
    position: fixed;
    left: 50%;
    top: 0%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    transform: translateX(-50%);
  }
  .nav-link {
    padding-right: 2em;
  }
  .aboutme {
    margin-bottom: 10%;
  }
  .c2 {
    padding-top:.2em;
  }

h1 {
  font-size:8.4vmin;
  font-weight: 600;
  font-family: 'Titillium Web', sans-serif;
  color: white;
}

h2 {
  font-size:4.5vmin;
  font-weight: 400;
  color: white;
  font-family: 'Titillium Web', sans-serif;
}
/*Subtitiles*/
h3 {
  font-size:0.95em;
  font-weight: 500;
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.4em;
}
/*text*/
h4 {
  font-size:0.85em;
  font-weight: 400;
  line-height: 2em;
  font-family: 'Titillium Web', sans-serif;
}

h5 {
  font-size:0.97em;
  font-weight: 600;
  line-height: 1em;
  font-family: 'Titillium Web', sans-serif;
}
th{
  width: 95px;
}
.ps1 {
  padding-top: 2em;
  font-size: 0.8em;
  padding-right: 1em;
}
.ps2 {
  padding-top: 1em;
  margin-left: 2em;
  font-size: 0.8em;
}
}

/* mobile view navbar*/
