@font-face {
  font-family: 'Titillium Web', sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap);
  font-family: 'Work Sans', sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
}

.click-zoom input[type=checkbox] {
  display: none
  
}
/* 
.click-zoom img {
  transition: transform 0.25s ease;
  cursor: zoom-in;
}

.click-zoom input[type=checkbox]:checked~img {
  transform: scale(1.5);
  cursor: zoom-out;
} */


.fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

/* dribbble, email, and linkedin hover*/
.link:hover {
  opacity: 0.6;
}


/* img:active{
  -webkit-transform:scale(1.5); /* or some other value 
  transform:scale(1.5);
} 
*/


.box {
  background-color: #F2F3F5;
  border-radius: 15px;
  padding:1.5em 4em 1em 4em;
  margin-bottom: 2em;
  height: 8em;
}

.box2 {
  border-radius: 15px;
  padding:1.5em 4em 1em 4em;
}

.left {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.space {
  margin-bottom: 10%;
  margin-top: 10%;
}

.smallspace {
  margin-bottom: 4%;
  margin-top: 4%;
}

.bottomsmallestspace {
  margin-bottom: 2%;
}


.images1 {
  max-width: 100%;
  border-radius: 15px;
}

/* buttons */


.b1:hover {
  background-color: #46a8e0;
  border: none;
}
.b1:focus {
  outline: none;
}
.b1 {
  transition-duration: 0.4s;
  border: none;
  padding:0.4em 4em 0em 4em;background-color: #1d77ac;
  color: white;border-radius: 200px;margin-top: 0.5em;
  margin-bottom: 2em;
  border: none;
}

/* blue button */

.b2:hover {
  background-color: #8dcef3;
  border: none;
}
.b2:focus {
  outline: none;
}
.b2 {
  transition-duration: 0.4s;
  border: none;
  padding:0.4em 4em 0em 4em;background-color: #5CAFDE;
  color: white;border-radius: 200px;margin-top: 0.5em;
  margin-bottom: 2em;
  border: none;
}



























.vertical-center{
    display:flex;
    align-items: center;
}

.horizontal-center{
    text-align: center;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}






/*navbar*/
nav {
    z-index: 3000;
}
.navbar .nav-item .nav-link {
    font-weight: 400;
    color: #636363;
    transition: all 0.3s ease 0s;
}
.nav-item {
  justify-content: flex-end;float: right;
}
.navbar .nav-item .nav-link:hover{
    color: rgb(58, 58, 58);
}
.nav-link:current {
    color: #000000 !important;
  }
.navbar-brand img {
    width: 90px;
    border: none;
} 
.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
}

.navbar ul{
    justify-content: flex-end; 
    font-weight: 600;
    color: white;
}

.navbar button:hover{
    background:  #0A2338,10%;
	transition: all 0.3s ease 0s;
    border: none;
}
.navbar button {
    max-width: 40%;
    border: none;
}
* {
	box-sizing: border-box;
}
html {
    height:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
      margin:0;
      padding:0;
  }
  body {
    height: 1000px;
    box-sizing: border-box;
    width:100%;
      margin:0;
      padding:0;
  }

  
  @media (min-width: 1220px)  {
    .text20{
      width: 45%;
    }
    .problemstatement {
      padding: 1em;
    }
    .video1 {
      position: fixed;
      left: 50%;
      top: -5%;
      min-width: 100%;
      min-height: 105%;
      width: auto;
      height: auto;
      z-index: -150;
      background-size: cover;
      transform: translateX(-50%);
    }
    .box {
      width:100%;
      color: black;
      text-align: center;
      bottom:0px;
  }
    th{
      width: 320px;
    }
      .c2 {
        padding-top:2em;
      }
      .pi {
        max-width: 70%;
      }
      .video {
        position: fixed;
        left: 50%;
        top: -5%;
        min-width: 100%;
        min-height: 105%;
        width: auto;
        height: auto;
        z-index: -100;
        background-size: cover;
        transform: translateX(-50%);
      }
  
      h1 {
        font-size:3.8vmin;
        font-weight: 600;
        font-family: 'Work Sans', sans-serif;
      }
      
      h2 {
        font-size:3.1vmin;
        font-weight: 600;
        font-family: 'Work Sans', sans-serif;
      }
      /*SUBTITLES*/
      h3 {
        font-size:2.1vmin;
        font-weight: 600;
        font-family: 'Work Sans', sans-serif;
      }
      /*text*/
      h4 {
        font-size:2vmin;
        font-weight: 400;
        font-family: 'Work Sans', sans-serif;
      }
      
      /*text*/
      p {
        font-size:1.1em;
        font-weight: regular;
        font-family: 'Work Sans', sans-serif;
      }
  
  
  }
/*DESKTOP*/
@media (min-width: 1024px) {
  .text20{
    width: 45%;
  }
  .problemstatement {
    padding: 3em;
  }
  .video1 {
    position: fixed;
    left: 50%;
    top: -5%;
    min-width: 100%;
    min-height: 105%;
    width: auto;
    height: auto;
    z-index: -150;
    background-size: cover;
    transform: translateX(-50%);
  }
  .box {
    width:100%;
    color: black;
    text-align: center;
    bottom:0px;
}
.images2 {
  max-width: 50%;
}

.link {
  max-width: 60%;
}



    .c2 {
      padding-top:2em;
    }
    .pi {
      max-width: 70%;
    }
    .video {
      position: fixed;
      left: 50%;
      top: -5%;
      min-width: 100%;
      min-height: 105%;
      width: auto;
      height: auto;
      z-index: -100;
      background-size: cover;
      transform: translateX(-50%);
    }

h1 {
  font-size:3.8vmin;
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
}

h2 {
  font-size:3vmin;
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
}
/*SUBTITLES*/
h3 {
  font-size:2vmin;
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
}
/*text*/
h4 {
  font-size:1.9vmin;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
}

/*text*/
p {
  font-size:1em;
  font-weight: regular;
  font-family: 'Work Sans', sans-serif;
}
b {
  font-weight: 600;
}

}

/*DESKTOP MEDIUM*/
@media only screen and (max-width: 1024px) and (min-width: 768px) {

  .project1 {
    margin-top: 0.5em;margin-bottom: 0.5em;
  }
  
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      width:50%;
    }
    .box {
      width:100%;
      color: black;
      text-align: center;
      bottom:0px;
  }
  .link {
    max-width: 55%;
  }

    .text20{
      width: 55%;
    }
  .video1 {
    position: fixed;
    left: 50%;
    top: -5%;
    min-width: 100%;
    min-height: 105%;
    width: auto;
    height: auto;
    z-index: -150;
    background-size: cover;
    transform: translateX(-50%);
  }
  th{
    width: 200px;
  }
  .pi {
    max-width: 100%;
    width: auto;
  }
  .video {
    position: fixed;
    left: 50%;
    top: -5%;
    min-width: 100%;
    min-height: 105%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    transform: translateX(-50%);
    filter: brightness(100%);
  }
  .aboutme {
    margin-bottom: 10%;
  }
  .c2 {
    padding-top:.2em;
  }
  .images2 {
    max-width: 35%;
  }

h1 {
  font-size:2.5em;
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
}

h2 {
  font-size:2em;
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
}
/*subtitles ALL CAPS*/
h3 {
  font-size:1.2em;
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
  line-height: 3vmin;
}
/*text*/
h4 {
  font-size:1.3em;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
}

p {
  font-size:1.0em;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
}

}
/*DESKTOP SMALL*/
@media only screen 
and (max-width : 768px) {

  .project1 {
    margin-top: 0.5em;margin-bottom: 0.5em;
  }

  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    width:50%;
  }

  .link{
    max-width: 55%;
  }
  .box {
    width:100%;
    color: black;
    text-align: center;
    bottom:0px;
}
  .text20{
    width: 75%;
  }
  .pi {
    max-width: 100%;
    width: auto;
  }
  .video1 {
    position: fixed;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -150;
    background-size: cover;
    transform: translateX(-50%);
  }
  .video {
    position: fixed;
    left: 50%;
    top: 0%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    transform: translateX(-50%);
  }
  .nav-link {
    padding-right: 2em;
  }
  .aboutme {
    margin-bottom: 10%;
  }
  .c2 {
    padding-top:.2em;
  }
  .images2 {
    max-width: 40%;
  }
h1 {
  font-size:2em;
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
}

h2 {
  font-size:1.5em;
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
}
/*Subtitiles*/
h3 {
  font-size:1.2em;
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
}
/*text*/
h4 {
  font-size:1.0em;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
}

p {
  font-size:1em;
  font-weight: regular;
  font-family: 'Work Sans', sans-serif;
}
b {
  font-weight: 600;
}
th{
  width: 150px;
}
.ps1 {
  padding-top: 2em;
  font-size: 0.8em;
  padding-right: 1em;
}
.ps2 {
  padding-top: 1em;
  margin-left: 2em;
  font-size: 0.8em;
}
}

/*MOBILE*/
@media only screen 
and (max-width : 400px) {


  .project1 {
    margin-top: 0.5em;margin-bottom: 0.5em;
  }
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    width:50%;
  }


  .link {
    max-width: 60%;
  }

  .box {
    width:100%;
    color: black;

    bottom:0px;
}

  .pi {
    max-width: 100%;
    width: auto;
  }
  .video1 {
    position: fixed;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -150;
    background-size: cover;
    transform: translateX(-50%);
  }
  .video {
    position: fixed;
    left: 50%;
    top: 0%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    transform: translateX(-50%);
  }
  .nav-link {
    padding-right: 2em;
  }
  .aboutme {
    margin-bottom: 10%;
  }
  .c2 {
    padding-top:.2em;
  }

h1 {
  font-size:2em;
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
}

h2 {
  font-size:1.5em;
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
}
/*Subtitiles*/
h3 {
  font-size:1.2em;
  font-weight: 500;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.4em;
}

h4 {
  font-size:1em;
  font-weight: 400;
  line-height: 2em;
  font-family: 'Work Sans', sans-serif;
}
/*text*/
p {
  font-size:0.9em;
  font-weight: 400;
  line-height: 2em;
  font-family: 'Work Sans', sans-serif;
}
.images2 {
  max-width: 35%;
}

th{
  width: 95px;
}
.ps1 {
  padding-top: 2em;
  font-size: 0.8em;
  padding-right: 1em;
}
.ps2 {
  padding-top: 1em;
  margin-left: 2em;
  font-size: 0.8em;
}
}

/* mobile view navbar*/
